body {
  background-color: #d4a9a9; 
}

#container {
  width: 200px;
  height: 200px;
  position: relative; 
}


.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position:absolute;
}

.anim {
  animation: 2s infinite alternate ease-in-out;
}


.anim-1 {
  margin-left: 80px;
  animation-name: animation-1;
  background-color: blue;
}



@keyframes animation-1 {
  0% {
      margin-top: 0;
  }
  100% {
      margin-top: 160px; 
  }
}

.anim-2 {
  animation-name: animation-2;
  background-color: red;
}


@keyframes animation-2 {
  0% {
      top: 160px;
      left: 160px;
  }
  100% {
      top: 0; 
      left: 0; 
  }
}


.anim-3 {
  animation-name: animation-3;
  background-color: yellow;
}

@keyframes animation-3 {
  0% {
      top: 0;
      left: 0;
  }
  25% {
      top: 0;
      left: 160px; 
  }
  

  75% {
      top: 160px;
      left: 0; 
  }

  100% {
    top: 160px;
    left: 160px; 
    
}
}


